/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
.fa-location-dot {
  color: black;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  /* min-width: 320px; */
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CSS header et navbar */
.navbar-desktop {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 61.09px;
  margin: 30px 10px 30px 0px;
}
.navbar {
  display: flex;
  gap: 55px;
}

.btn-links-hbg {
  padding-top: 15px;
  border-top: 3px solid transparent;
}
.btn-links-hbg:hover {
  padding-top: 15px;
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}
.btn-links-hbg:active {
  padding-top: 15px;
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}
.btn-links-act {
  padding-top: 15px;
  border-top: 3px solid transparent;
}

.btn-links-act:hover {
  padding-top: 15px;
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}

.btn-links-act:active {
  padding-top: 15px;
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}

/*  FIN header et navbar */

/*  INFOGROUP CHAMP DE RECHERCHE*/

.form-desktop {
  display: flex;
  justify-content: flex-start;
}

.ico-search {
  background-color: var(--main-bg-color);
  width: 49px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-ville {
  width: 14%;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--main-bg-color);
}

input::placeholder {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

input[type="search"] {
  font-size: 18px;
}

.button-desktop {
  color: white;
  background-color: var(--main-color);
  border-color: transparent;
  width: 132px;
  height: 50px;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
  font-size: 16px;
}
.button-desktop:hover {
  cursor: pointer;
}
/* je cache l'icone loupe version mobiles */
.button-mobil {
  display: none;
}
/* BARRE DE FILTRES */

.filter {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}
.filter-bar {
  display: flex;
  height: 50px;
  gap: 15px;
}

.ico-filter {
  border-radius: 25px;
  border: solid 2px #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 19px 4px 19px;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  background: transparent;
}

.ico-filter:hover {
  background: var(--filter-bg-color);
  cursor: pointer;
}

.filter-mobil {
  display: none;
}
/* FIN BARRE DE FILTRES */

/* INFOBARRE */
.ico-info {
  border-radius: 50px;
  border: solid 1px #d9d9d9;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* FIN INFOBARRE */

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
}
.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-hebergement {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 33px;
  width: 30%;
  height: 197.25px;
}

.card-hebergement img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-content-hebergement {
  box-sizing: border-box;
  padding-left: 10px;
}
.card-title-hbg {
  margin: 5px 0px 5px 0px;
  font-size: 16px;
}
.card-subtitle-hbg {
  margin: 5px 0px 5px 0px;
}

.afficher-plus {
  margin-bottom: 0;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ACTIVITES */
.card-container-activites {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.card-activites {
  width: 25%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-activites img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.content-activites h4 {
  margin: 15px 0px 20px 20px;
}

.h2-activites {
  margin-bottom: 0px;
  padding-left: 30px;
}
/* FIN ACTIVITES */

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.menu-footer {
  width: 33.33%;
  margin-left: 20px;
}

h3 {
  margin-bottom: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding-bottom: 13px;
}
/* FIN FOOTER */

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .populaires-cards .card {
    margin-top: 20px;
  }
  .populaires-cards img {
    height: 136px;
    width: 33.33%;
  }
  .card {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .populaires-cards a {
    width: 33.33%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .filter {
    display: none;
  }
  .filter-mobil {
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  /* activites */

  .card-container-activites {
    display: flex;
    gap: 30px;
  }
  .card-activites {
    height: 270px;
    width: 100%;
  }
  .card-activites img {
    height: 200px;
    width: 100%;
  }
  .search-ville {
    width: 23%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container {
    padding: 0px;
    width: 100%;
  }

  .logo {
    margin: 30px 0px 10px 0px;
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  /* header navbar et logo */
  .navbar-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    gap: 0px;
  }

  .navbar-desktop {
    padding-bottom: 15px;
  }
  .btn-links-hbg {
    padding-bottom: 15px;
    border-bottom: 3px solid #d9d9d9;
    width: 187.2px;
    text-align: center;
  }
  .btn-links-act {
    width: 187.2px;
    padding-bottom: 15px;
    border-bottom: 3px solid #d9d9d9;
    text-align: center;
  }

  .btn-links-hbg:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid var(--main-color);
    padding-top: 15px;
  }
  .btn-links-act:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid var(--main-color);
    padding-top: 15px;
  }

  /* fin header et navbar */
  /* formulaire de recherche et infogroup*/

  .info-group {
    margin: 20px 15px 0 15px;
  }

  .form-desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .search-ville {
    border-right: none;
  }

  .button-desktop {
    display: none;
  }

  .fa-magnifying-glass {
    color: white;
  }
  .button-mobil {
    display: flex;
    width: 49px;
    height: 49px;
    background-color: var(--main-color);
    border-radius: 15px;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* right: 10px; */
  }

  .button-mobil:active {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .search-ville {
    width: 70%;
  }
  /* barre de filtres */

  .filter-mobil {
    display: flex;
    margin: 0px 0px 25px 10px;
  }
  .filter {
    display: none;
  }

  .filter-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    row-gap: 20px;
    column-gap: 10px;
    margin-bottom: 20px;
  }

  .ico-filter {
    font-size: 14px;
    height: 50px;
    width: 45%;
  }
  /* infobarre */

  .info {
    display: flex;
    margin-top: 65px;
    margin-bottom: 20px;
  }

  /* populaires */

  .hebergements-and-populaires .populaires {
    border-radius: 0px;
    margin-top: 0px;
    padding: 30px 20px 30px 20px;
  }

  .populaires {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .populaires-cards {
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin: 0;
  }
  .populaires-cards img {
    height: 136px;
    width: 28%;
  }
  .card {
    height: 146px;
    width: 300%;
  }
  .card-content .card-title {
    font-size: 16px;
  }
  .card-content .card-subtitle {
    font-size: 16px;
  }

  /* hebergement */

  .hebergements-and-populaires .hebergements {
    background-color: white;
    padding: 20px 20px 0px 20px;
  }
  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }
  .card-hebergement {
    width: 100%;
    margin-top: 15px;
  }
  .afficher-plus {
    margin-top: 15px;
  }
  /* activites */

  .h2-activites {
    margin-top: 35px;
  }

  .card-container-activites {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .card-activites {
    width: 100%;
    height: 200px;
  }
  .card-activites img {
    width: 100%;
    height: 141px;
  }

  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 10px;
  }
  .menu-footer {
    width: 100%;
    margin-bottom: 40px;
  }

  .menu-footer h3 {
    margin-bottom: 15px;
  }
}
